/node_modules

outputs/*.zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.yarn/install-state.gz
.yarn/cache/**

tsconfig.tsbuildinfo
.turbo
.vscode
